.root {



}
.some-node{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.Main{
    /*-fx-background-image: url("images/fon24.jpg");*/
    /*-fx-background-size: 700;*/
    -fx-background-color: white;
    -fx-border-color: rgb(54, 33, 89)   ;
    -fx-border-width: 0;
}
.paneButs{
    fx-background-color: rgb(123, 95, 170);
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-background-radius: 0;
}
.paneContentS{
    /*-fx-background-color: rgba(122, 72, 221, 1);*/
    -fx-background-color: white;

}
.but1{
    -fx-font-size: 11;
}
.buttonCrypt{
    -fx-background-color:  rgba(85,65,118, 1);
    -fx-text-fill: white;

    -fx-font-family: "Segoe UI";
    -fx-font-size: 11;
    /*-fx-background-color: linear-gradient(#61a2b1,#2A5058);*/

    /*-fx-border-color: rgba(50,26,6, 0.6);*/
    -fx-border-color: rgba(247, 248, 248, 0.4);
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/*.buttonCrypt:hover{*/
    /*-fx-background-color: rgba(85,65,118, 1);*/
    /*!*-fx-background-color: linear-gradient(#2A5058,#61a2b1);*!*/
/*}*/
.titleBar{
    -fx-background-color: rgb(54, 33, 89);
}
#textWelcome{
    -fx-font-size: 30;
    -fx-font-family: "Arial Black";
    -fx-fill: #24454C;
    -fx-effect: dropshadow(gaussian, rgba(0,8,116,1), 0,0,0, 2);
}

#textWelcome:hover{
    -fx-effect: dropshadow(gaussian, rgba(0,8,116,1), 0,0,0, 1);
}

.label{
    -fx-font-size: 13;
    -fx-font-family: "Comic Sans MS";
    -fx-fill: rgb(255,255,255);
    -fx-progress-color: #24454C;
   /* -fx-effect:dropshadow(gaussian, rgba(0,0,0 ,0.1), 1, 1, 1, 1);*/
}

.text-field {
    /*-fx-background-color: rgba(255,255,238, 1);*/
    -fx-background-color: white;
    -fx-font-family: "Century Gothic";


}
.choice-box {
    -fx-background-color: rgba(255,255,238, 1);
    -fx-border-color: rgba(48,50,17, 0.8);
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic";
}
.text {

}
.normaltext{
    -fx-background-color: whitesmoke;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Narrow";
    -fx-fill: #474c4f;

}

.separator{
    -fx-background-color: white;
}
.text-area{
    -fx-background-color: rgba(131, 77, 188, 0.11);
}


.panesBackground{
    fx-background-color: white;
}

.tfCreate{
    -fx-background-color: floralwhite;
}

.table-view {
    -fx-tree-table-color: rgba(82, 100, 174, 0.4);
    -fx-tree-table-rippler-color: rgba(82, 100, 174, 0.6);
}
.table-view:focused {
    -fx-background-color: TRANSPARENT, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1; /* 0.083333em; */
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected {
    -fx-background-color: -fx-tree-table-color;
    -fx-table-cell-border-color: -fx-tree-table-color;
    -fx-text-fill: BLACK;
}

.table-view:focused .tree-table-row-cell:selected .tree-table-cell {
    -fx-text-fill: BLACK;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #F3F3F3;
    -fx-background-color: rgba(85,65,118, 1);
}

.table-view .column-header .label {
    /*-fx-text-fill: #949494;*/
    -fx-text-fill: white;
    -fx-padding: 16 0 16 0;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
    -fx-background-color: #949494;
}


.table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;
}

.table-view .tree-table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-pref-height: 48px;
    -fx-alignment: center-left;
}

.table-view .column-overlay {
    -fx-background-color: rgba(85,65,118, 1);
}

.table-view .column-resize-line, .table-view .column-drag-header {
    -fx-background-color: -fx-tree-table-rippler-color;
}


.table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-row-cell .text-field,
.table-row-cell .password-field,
.table-row-cell .text-area {
    -jfx-focus-color: rgb(82, 100, 174);
    -fx-background-color: transparent;
}


.table-row-cell .text-field .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.table-row-cell .text-field .error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}


.table-view .menu-item:focused {
    -fx-background-color:  rgba(85,65,118, 1);

}

.table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}
